<html>

<head>
    <%- include('layouts/navbar'); -%>
</head>

<body class="font">

    <h1 class="title">Login</h1>

    <form id="loginForm" action="/login-form" method="post">
        <label for="username">Username </label><br>
        <div>
            <input type="text" id="username" name="username" placeholder = "Username/E-mail" required>
            <label id="userErrorLabel" style="color: red;"></label>
        </div>
        
        <label for="password">Password </label><br>
        <div>
            <input type="password" id="password" name="password" required>
            <label id="passErrorLabel" style="color: red;"></label>
        </div>
        <br>
        <button type="submit" class="font">Submit</button>
        <br><br>
        <div class="font">Don't have an account? Sign up <a class="hyperlink" href="/sign-up">here</a></div>

    </form>

</body>

<script>
    let passError = document.getElementById("passErrorLabel");
    let userError = document.getElementById("userErrorLabel");
    if ("<%= passValid %>" === "false" && "<%= userValid %>" === "true" && "<%= emailValid %>" === "true") {
        passError.textContent = "Incorrect password";
        userError.textContent = "";
    }
    else if ("<%= userValid %>" === "false" && "<%= passValid %>" === "true" && "<%= emailValid %>" === "true") {
        userError.textContent = "Username not found";
        passError.textContent = "";  
    }
    else if ("<%= emailValid %>" === "false" && "<%= userValid %>" === "true" && "<%= passValid %>" === "true") {
        userError.textContent = "E-mail not found";
        passError.textContent = ""; 
    }
    else {
        passError.textContent = "";
        userError.textConent = "";
    }
</script>

<footer>
    <%- include('layouts/footer'); -%>
</footer>

</html>