<!DOCTYPE html>

<head>
    <%- include('layouts/navbar'); -%>
</head>

<body>

    <div class = "fade-in-container">
        <h1 class="login-title">Log in to see your information.</h1>

        <h2 class="login-subtitle">Log into your account</h2>

        <div class="login-form">

            <form id="loginForm" action="/login-form" method="post">

                <div>
                    <div class="input-container">
                        <input class="input-box" type="text" id="username" name="username" placeholder="Username or E-mail" required autocomplete="username">
                    </div>
                </div>

                <br>

                <div>
                    <div class="input-container">
                        <input class="input-box" type="password" id="password" name="password" placeholder="Password" required autocomplete="current-password">
                        <button type="submit" class="submit-button"><img src="https://i.ibb.co/DDndqQN/Untitled-design-1.png"></button>
                    </div>
                </div>

                <br>

                <div class="error-div">
                    <label id="userErrorLabel"></label>
                    <label id="passErrorLabel"></label>
                </div>

                <br>

                <div class="form-hyperlink">Don't have an account? <a class="hyperlink" href="/sign-up">Sign up here ↗</a></div>
            </form>

        </div>
    </div>
        
</body>

<script>
    //Eror Label Code
    let passError = document.getElementById("passErrorLabel");
    let userError = document.getElementById("userErrorLabel");
    if ("<%= passValid %>" === "false" && "<%= userValid %>" === "true" && "<%= emailValid %>" === "true") {
        passError.textContent = "Incorrect password";
        userError.textContent = "";
    }
    else if ("<%= userValid %>" === "false" && "<%= passValid %>" === "true" && "<%= emailValid %>" === "true") {
        userError.textContent = "Username not found";
        passError.textContent = "";  
    }
    else if ("<%= emailValid %>" === "false" && "<%= userValid %>" === "true" && "<%= passValid %>" === "true") {
        userError.textContent = "E-mail not found";
        passError.textContent = ""; 
    }
    else {
        passError.textContent = "";
        userError.textConent = "";
    }
    
</script>

<style>
    
    .error-div {
        padding: 10px;
        padding-bottom: 4vh;
        color: red;
        text-align: center;
    }

    
    .login-subtitle {
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        color: #494949;
        margin: 13px 130px 13px;
    }
    .login-title {
        text-align: left;
        padding-left: 13vw;
        font-weight: bold;
    }
    .login-form {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35vh; 
    }

</style>

<footer>
    <%- include('layouts/footer'); -%>
</footer>

</html>